# Created by .ignore support plugin (hsz.mobi)

/.idea
.idea/
.idea/LatticeBoltzmann.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
/.idea/vcs.xml

*.csv
*.pyc
*.png
main/benchmarks/poiseuille_flow/fig/
main/benchmarks/poiseuille_flow/output/
